/* Navbar */
.dbc-Navbar-main {
  height: 6vh
}

.dmc-Grid-center {
  align-items: center;
  justify-content: center;
}

/* figures */
.dcc-Graph-scatter3d {
  height: 88vh;
}

.dcc-Graph-violin-exp {
  width: 55vh;
}

.dcc-Graph-violin-ctp {
  height: 100vh
}

.dmc-ChipGroup-legend {
  overflow-y: auto;
  max-height: 75vh;
}

/* dmc-Tabs-inline */
.dmc-Tabs-inline .mantine-Tabs-tabLabel {
  /* writing-mode: vertical-rl; */
  /* transform: rotate(-0.5turn); */
  font-size: 0.8rem;
  font-weight: normal;
}

.dmc-Tabs-inline .mantine-Tabs-tab{
  padding-top: 3px;
}

.dmc-Tabs-inline .mantine-Tabs-panel {
  padding-top: 3px;
}


.fac-AntdSpace-sideBar {
  position: fixed;
  max-height: 95vh;
  overflow-y: auto;
  width: 35vh;
}

.fac-AntdCollapse-sidebar {
  background: '#ffffff';
  border-top: 0.1rem solid #dddddd;
}

.fac-AntdCollapse-inline {
  background: '#ffffff';
}


.dmc-accordionMultiple {
  /* overflow-y: auto;
  max-height: 96vh; */
}

.dmc-Text-setting-title {
  font-size: 1rem;
  font-weight: bold;
}

.dmc-Text-label {
  font-size: 1rem;
  font-family: Segoe UI; 
  font-weight: normal
}

.dmc-Text-label .dmc-Text-label-center {
  text-align: center;
  /* font-weight: bold; */
}

.dmc-Text-drawerTitle {
  font-size: 1.3rem;
}

.dmc-Text-drawerSubTitle {
  font-size: 0.7rem;
  color: gray;
  font-style: italic;
}

.dmc-Text-sidebar-title {
  font-size: 1.2rem;
  font-family: Segoe UI;
}

.dmc-Text-sidebar-tips {
  font-size: 1.0rem;
  font-style: italic;
  color: gray
}

.div-filterBody-numeric {
  width: 40vh;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
/* 滚动槽 */
::-webkit-scrollbar-track{
  background: rgb(244, 244, 244);
  border-radius: 3px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #aaa;
  color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
  background: #333;
}

.dmc-divider-sidebar-inline .mantine-Divider-label{
  font-size: 1rem;
  font-weight: bold;
  color: #4080ee;
}